<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
    <!-- Meta Data -->
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, 
            initial-scale=1.0, 
            user-scalable=no, 
            minimum-scale=1.0, 
            maximum-scale=1.0" />
    
    <!-- 3rd Party Styles -->
    <link rel="stylesheet" type="text/css" href="../css/sherettewebs/core.css" />
    <link rel="stylesheet" type="text/css" href="../css/topcoat/topcoat-mobile-dark.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/sherettewebs/plugins/slider/slider.css" />
    <link rel="stylesheet" type="text/css" href="../css/sherettewebs/plugins/dial/dial.css" />
    <link rel="stylesheet" type="text/css" href="../css/sherettewebs/plugins/modal-window/modal-window.css" />
    <!-- App Styles -->
    <link rel="stylesheet" type="text/css" href="../css/app.css" />
    <link rel="stylesheet" type="text/css" href="../css/sherettewebs/mobile-mockup.css" />
  </head>
  <body>
    <!-- INSERT TEMPLATE HTML -->
  </body>
</html>